* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}
body {
  /* overflow-x: hidden; */
  margin: 0rem;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

* {
  box-sizing: inherit;
}
.header {
  height: 5rem;
  width: 100%;
  position: fixed;
}
.header-color {
  background-color: rgb(15, 25, 111);
  color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.header-color a {
  color: white;
}

.header-color .menu .code1 {
  border: solid 0f196f;
  height: 2.5rem;
  width: 4rem;
  text-align: center;
  color: rgb(15, 25, 111);
  background-color: white;
  display: block;
}
/* ..............................header................................. */
.menu {
  float: left;
  display: block;
  margin: 1rem;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
}
.menu a {
  text-emphasis: none;
  text-decoration: none;
}
.menu a:active {
  text-decoration: underline;
  /* font-size: 15px; */
}

.menu.code {
  border: solid 0f196f;
  height: 2.5rem;
  width: 4rem;
  text-align: center;
  color: rgb(15, 25, 111);
  background-color: white;
  display: block;
}
.tabs {
  float: right;
  margin-right: 20px;
  display: block;
  color: rgba(15, 25, 111, 1);
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

/* ................home........................... */

.home {
  height: 40rem;
  background-image: url(/image/home.png);
  background-repeat: no-repeat;
  background-size: 90rem;
  display: flex;
  /* margin-top: 5rem; */
}

.home-photo {
  margin-top: 5rem;
  height: 30rem;
  width: 45%;
  float: left;
  /* position: absolute; */
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.home-detail {
  padding-top: 5rem;
  margin-top: 5rem;
  margin-right: 3.4rem;
  width: 45%;
}
.home-detail h2 {
  margin-left: 7rem;
  color: rgba(15, 25, 111, 1);
}
.home-detail p {
  margin-left: 4rem;
  margin-top: 3rem;
  color: white;
  width: 30rem;
  font-size: 20;
}

/* ..................about......................... */

.about {
  background-color: rgb(239, 240, 253);
  padding: 80px 40px;
  /* height: 45rem; */
}

.about-container {
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
h2 {
  text-align: center;
  color: rgba(15, 25, 111, 1);
  font-size: 40px;
}

.about-details {
  height: 100%;
  width: 40%;
  font-size: 30px;
  color: rgba(15, 25, 111, 1);
  text-align: center;
  justify-content: center;
}
.about-image {
  width: 40%;
  height: 30rem;
  margin-right: 15px;
  border-radius: 20px;
  /* margin-top: 5rem; */
  /* position: absolute; */
}

/* ............................................................. */

/* ..........................myproject............................. */

.project {
  background-color: rgba(15, 25, 111, 1);
  background-size: cover;
  color: white;
  width: 100%;
  padding: 80px 0 5px 0;
}
.project-card {
  margin: 5rem;
  display: flex;
  flex-wrap: wrap;
}

.project h2 {
  color: white;
}
.project-details {
  float: right;
  width: 50%;
}

.project-details ul li {
  display: block;
  margin: 15px;
}

.project-image {
  width: 41%;
  height: 25rem;
}
/* .......................blog.............................. */
.blog {
  padding: 80px 5px 0 5px;
  margin: 4rem;
  width: 90%;
  font-size: 20;
  background-color: white;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 280px;
  margin: 10px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
.card p {
  width: 90%;
  margin: 1px;
  margin-bottom: 5px;
}
.card-img {
  width: 100%;
  height: 200px;
}
.card button {
  border: none;
  margin-left: 8rem;
  color: white;
  height: 2rem;
  width: 6rem;
  font-weight: bold;
  font-size: 15px;
  background-color: rgba(15, 25, 111, 1);
  margin-bottom: 5px;
  border-radius: 3px;
}
/* ........................................................ */

.celtificate {
  text-align: center;
  width: 100%;
  padding: 30px 0 80px 0;
}
.celtificate div {
  margin: 3rem;
  display: inline;
}
.celtificate div img {
  height: 3rem;
  width: 9rem;
}
/* ........................................... */

/*......................tablete.......................*/

@media (max-width: 820px) {
  body {
    width: 100%;
  }
  .home {
    width: 100%;
    height: 100%;
    padding: 50px 20px 0px 0px;
    background-image: none;
    background-color: rgba(15, 25, 111, 1);
    background-repeat: no-repeat;
    background-size: 90rem;
  }
  .home .home-detail {
    width: 50%;
    margin: 0;
    padding-left: 0;
    padding-right: 20px;
  }
  .home .home-detail p {
    width: 100%;
    padding-right: 5ch;
  }
  .checkbtn {
    margin-top: 10px;
    display: block;
  }
  .tabs {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(15, 25, 111, 1);
    top: 80px;
    left: -1000;
    transition: all -5s;
    text-align: center;
    color: white;
  }
  .menu a {
    text-emphasis: none;
    text-decoration: none;
    color: white;
  }
  #check:checked ~ .tabs {
    left: 0;
  }
  .tabs.menu a {
    display: block;
    color: white;
  }
  .tabs.menu a:active {
    display: none;
    left: -1000;
  }
  .about-details {
    font-size: 20px;
  }
  .about-image {
    height: 350px;
  }
  .project {
    width: 100%;
  }
  .about {
    width: 100%;
  }
  .blog {
    margin: 0;
  }
  /* .blog.container {
  } */
}

@media (max-width: 425px) {
  .tabs {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 80vh;
    background: rgba(15, 25, 111, 1);
    top: 80px;
    left: -1000;
    transition: all -5s;
    text-align: center;
    color: white;
  }
  .home {
    height: 100%;
    padding: 40px 0px 10px 0px;
    flex-direction: column;
  }
  .home .home-photo {
    margin-top: 2rem;
    height: 15rem;
    width: 100%;
  }
  .home .home-detail {
    margin: 0;
    height: 17.5rem;
    width: 100%;
  }
  .home .home-detail p {
    padding: 1px 0 1px 2px;
    width: 100%;
    margin-top: 2px;
    color: white;
    font-size: 16px;
    text-align: center;
  }
  .home .home-detail h2 {
    margin-top: -4rem;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
  }
  .home-detail h2 span {
    display: block;
    text-align: center;
  }
  .project-card {
    flex-direction: column;
  }
  .about {
    padding: 50px 20px;
  }
  .about h2 {
    margin-bottom: 50px;
  }
  .about-container {
    flex-direction: column-reverse;
  }
  .about-container .about-image {
    margin: 0px;
    width: 100%;
    margin-bottom: 50px;
  }
  .about-container .about-image img {
    margin: 0px;
    width: 100%;
    object-fit: cover;
  }
  .about-details {
    width: 100%;
    border-style: none;
  }
  .about-details p {
    text-align: left;
  }
  .project {
    padding: 30px 0px;
  }
  .project-card {
    margin: 0px;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .project-image {
    width: 100%;
  }
  .project-details {
    width: 100%;
    margin-top: 30px;
  }
  .blog {
    padding: 5px 20px;
    width: 100%;
  }
  .blog p {
    text-align: left;
    padding: 10px 10px 2px 10px;
  }
  .blog h3 {
    text-align: left;
    padding: 10px 10px 2px 10px;
  }
  .card {
    width: 100%;
    margin: 10px 0px;
  }
  .card-img {
    width: 100%;
  }
  .card-img,
  img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  .celtificate div {
    display: block;
  }
  .celtificate {
    height: 40rem;
  }
}
.active {
  text-decoration: underline;
}
